* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1198px;
}

/* HEADER */

.header {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

/* HEADER NAVIGATION */

.header__nav {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header__nav-item {
    margin-right: 17px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

/* HEADER AUTH */

.header__auth {
    width: 232px;
    display: flex;
    justify-content: space-between;
}

.header__button {
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.header__button-login {
    padding: 11px 25px;
    border: 1px solid #BCD0E5;
    color: #173A56;
    background: #FFFFFF;
}

.header__button-registration {
    padding: 11px 28px;
    border: none;
    color: #FFFFFF;
    background: #FF9900;
}

/* SECTION HERO */

.hero {
    margin: 30px;
}

.hero__content {
    height: 494px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__start {
    height: 331px;
    width: 550px;
}

.hero__topic {
    padding-bottom: 54px;
}

.hero__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    padding-bottom: 30px;
}

.hero__text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.hero__button {
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.hero__button-start {
    border: none;
    padding: 16px 42px;
    color: #FFFFFF;
    background: #FF9900;
}

.hero__fas-margin {
    margin-right: 9px;
}

.hero__link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}

.hero__link-margin {
    margin-left: 44px;
}
