@media screen and (max-width: 1440px) {
    .wrapper {
        width: 1000px;
    }
    .hero__link-indent {
        margin-left: 20px;
    }
    .design__cards {
        padding-bottom: 40px;
    }
    .design__card {
        width: 200px;
        height: 210px;
    }
    .strategy__card-normal {
        width: 320px;
    }
    .strategy__card-big {
        width: 660px;
    }
    .about__card {
        width: 310px;
    }
    .about__image {
        left: 32px;
    }
}